<%= javascript_include_tag 'users/callendar', 'data-turbolinks-track': 'reload' %>
<div class="user top container">
  <div class="row">
  	<h2>所属寺院行持カレンダー</h2>
  	<div class='col-xs-6'>
  	  <div class="user_top_text">
  	  	<h4>
  	  		所属寺院カレンダー内の行持をクリックすると、<br>
  	  		行持詳細ページへ飛ぶことができます。<br>
  	  		参加したい行持がある場合は、行持詳細を確認後、<br>
  	  		寺院へご連絡ください。
  	  	</h4>
  	  </div>
  	</div>

  	<div class='col-xs-6'>
  	  <div id="calendar"></div>
  	</div>
  </div>
</div>

<!-- 任意のJavaScriptを読み込む為 -->
<%= javascript_include_tag 'users/callendar.js' %>