<div class="container">
  <div class="row" style =  "text-align: center">
    <h1><strong>Gyo-kanとは</strong></h1>
      <h4>
        行持(お寺の仏事に関すること)を檀家側と寺院側でスケジュールを共有して確認することができるWebアプリです。<br>
        檀家側は、寺院が開催する行持がいつ、何時から開始予定なのかを確認することができます。<br>
        寺院側は、アプリに登録をしている檀家に一斉に行持予定を公開することができ、スケジュールをカレンダー上で管理することができます。
      </h4>
  </div>

  	<div class="col-xs-6">
  	<div class='about_text'>
      <h2 style = "text-align: center"><strong>『檀家』と『行持』とは</strong></h2>
      <h3>〜檀家(だんか)〜</h3>
      <h5>
        特定の寺に所属して寺を支援する家のことを指します。,<br>
        葬祭や供養などを寺院に依頼し、布施として経済支援などを行います。<br>
        お寺にご先祖のお墓や位牌を置いている家と認識すれば分かりやすいかと思います。
      </h5>
      <h3>〜行持(ぎょうじ)〜</h3>
      <h5>
        仏道の修行を常に怠らずに続けることを意味します。<br>
        行は修行のこと、持は持続のことを表すため、世間一般的に使われている『行事』と漢字が異なります。<br>
        本Webアプリでは、一般の方が参加できるような『座禅会』や『写経会』などのイベントの意味合いとして使っています。
      </h5>
  	</div>
  	</div>
  	<div class="col-xs-6">
  	  <div class='about_img'>
  	    <%= image_tag 'about_img1.jpg', size: '500x350' %>
  	  </div>
  	</div>

    <dev class="col-xs-6">
      <div class='about_img'>
        <%= image_tag 'about_img.jpg', size: '500x350' %>
      </div>
    </dev>
    <div class="col-xs-6">
      <div class='about_text'>
        <h2 style="text-align: center"><strong>サービスを作った想い</strong></h2>
        <h3>〜ITの力で、檀家のお寺離れを解決出来ないか〜</h3>
      <h4>
        私は実家がお寺で、お寺は身近な存在でした。<br>
        昨今、檀家のお寺離れが進んでいることが仏教界では課題と<br>
        なっています。<br>
        特に都心では、檀家がお参りに来ることが少なくなっていたり、<br>
        檀家を離れてしまう離檀が進んでおり、地方のお寺も影響が出始めていると言われてます。<br>
        その様な課題を解決する一つの手段として、Gyo-kanでお寺と人々が関わりやすくなってほしいという想いが込められています。
      </h4>
      </div>
    </div>

</div>