<div class="container">
  <div class="row">
  	<div class="col-xs-6">
  	<div class='about_text'>
  	<h2><strong>Gyo-kanとは</strong></h2>
  	  <h4>
  	  	行持(寺院の仏事に関すること)を檀家側と寺院側でスケジュールを<br>
  	  	共有して確認することができるアプリです。<br>
  	  	檀家側は、寺院がスケジュールに登録した行持がいつ、何時から<br>
  	  	開始予定なのかを確認することができます。<br>
  	  	寺院側は、アプリに登録をしている檀家に一斉に行持予定を公開<br>
  	  	することができます。<br>
  	  	こちらのWebアプリを利用することで、檀家と寺院がより関わりやすく<br>
  	  	なっていただければと思います。
  	  </h4>
  	</div>
  	</div>
  	<div class="col-xs-6">
  	  <div class='about_img'>
  	    <%= image_tag 'about_img.jpg', size: '600x400' %>
  	  </div>
  	</div>
  </div>
</div>