
<div class="container">
  <div class="row" style = "text-align: center">
    <h1><strong>Gyo-kan</strong></h1>
    <h4>
      寺院の行持をカレンダーで確認できます。<br>
      仏事をもっと身近に感じてみませんか？
    </h4>
    <div class='top_img'>
    <div id="container_top">
      <div id="theTargetTop">
      	<div class="slide"></div>
      	<div class="slide"></div>
      	<div class="slide"></div>
      </div>
    </div>
    </div>

    <div class="btn-wrapper">
	  <div class="row btn-i">
	    <p><%= link_to "檀家の方の新規登録はこちら",new_user_registration_path, class: "btn btn-info col-xs-6 col-xs-offset-3 user_sign_in" %></p>
	  </div>
	  <div class="row ">
			<p><%= link_to "寺院の方の新規登録はこちら",new_admin_registration_path, class: "btn btn-success col-xs-6 col-xs-offset-3 admin_sign_in" %></p>
	  </div>
	</div>
  </div>
</div>

<%= javascript_include_tag 'skippr.min.js' %>
<script>
  $(document).ready(function () {
    $("#theTargetTop").skippr({
      transition: 'slide',
      speed: 1000,
      navType: 'bubble',
      childrenElementType: 'div',
      autoPlay: true,
      autoPlayDuration: 2000
    });
});
</script>