// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-wrapper{
	padding-top: 20px;
	padding-bottom: 10px;
}

.btn-i{
	padding-bottom: 10px;
}

.about_text{
	padding-top: 50px;
}

.about_img{
	padding-top: 50px;
}


//スライドショー(home/top)
#container_top {
	height: 400px;
}

.slide:nth-child(1) {
	background-image: image-url("top5.jpg");
}

.slide:nth-child(2) {
	background-image: image-url("top6.jpg");
}

.slide:nth-child(3) {
	background-image: image-url("header.jpg");
}
