// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-wrapper{
	padding-top: 20px;
	padding-bottom: 10px;
}

.btn-i{
	padding-bottom: 10px;
}

.about_text{
	padding-top: 80px;
}

.about_img{
	padding-top: 80px;
}